<!doctype html>
<html lang="en">

<head>
	<title>疾舞魅影</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/static/assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/static/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <!-- bootstrap time picker -->
  <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">                                                                  
  <style>
    a {
      cursor:pointer;
    }
  </style>
</head>

<body>
	<!-- 消息框 -->
  <div id="id_content">
      <div class="container-fluid">
          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissable ctopalert" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
      </div>
  </div>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="/static/assets/img/logo-dark.png" alt="疾舞魅影" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li >
              <a href="#"><img src="/static/assets/img/user1.jpeg" class="img-circle" alt="Avatar"> <span>{{user['username']}}</span> </a>
						</li>
						<li >
							<a href="/logout"> <i class="lnr lnr-exit"></i><span>退出</span></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="/index" class="active"><i class="lnr lnr-home"></i> <span>主页</span></a></li>
						<li><a href="/user_list" class=""><i class="lnr lnr-linearicons"></i> <span>用户管理</span></a></li>
						<li><a data-toggle="modal" data-target="#exampleModal"><i class="lnr lnr-pencil" ></i> <span>最新指导比例设定</span></a></li>
						<li><a data-toggle="modal" data-target="#exampleModal2"><i class="lnr lnr-bicycle"></i> <span>订单有效时间设定</span></a></li>
						<li><a href="/store/list" class=""><i class="lnr lnr-chart-bars"></i> <span>交易流水信息</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
    <!--设置指导比例 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="myAlert_new" class="alert alert-warning" style="display:none">
            <a href="#" class="close" onclick="$('#myAlert_new').hide()">&times;</a>
                指导比例或时间不能为空！
        </div>
        <div class="modal-dialog modal-lg" style="width:500px" role="document">
            <div class="modal-content">
              <form action='/saleprice/new?jwt={{tkn}}' method='post'>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">大区</label>
                        <select class="form-control" name="area_name" id="area_name">
                          {% for my_area in area_list %}
                            {% if my_area == '跨一' %}
                            <option selected>{{my_area}}</option>
                            {% else %}
                            <option >{{my_area}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">设置时间</label>
                        <input class="form-control" type="text" value="" id="datetimepicker" name="valid_time"></input>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">指导比例</label>
                        <input class="form-control" name="sale_price" id="sale_price"></input>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" onclick="return checkNull()">保存</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 设置用户等级与订单有效时间 -->  
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="myAlert_new2" class="alert alert-warning" style="display:none">
            <a href="#" class="close" onclick="$('#myAlert_new').hide()">&times;</a>
                用户等级或有效时间不能为空！
        </div>
        <div class="modal-dialog modal-lg" style="width:500px" role="document">
            <div class="modal-content">
                <form action='/order_valid_time' method='post'>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">用户等级:</label>
                        <select class="form-control" name="user_lvl" id="user_lvl">
                            <option >1</option>
                            <option >2</option>
                            <option >3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">订单有效时间</label>
                        <input class="form-control" name="valid_time" id="valid_time" placeholder="单位(分钟)"></input>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" onclick="return checkNull2()">保存</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% block main %}                                                                                                                      
    {% endblock %}                                                                                                                        
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">Copyright &copy; 2018.疾舞魅影 All rights reserved.More Templates <a href="http://www.jwmy.com/" target="_blank" title="疾舞魅影">疾舞魅影</a></p>
				
			</div>
		</footer>
	</div>
  
	<script src="/static/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/assets/scripts/klorofil-common.js"></script>
  <script src="/static/js/bootstrap-datetimepicker.min.js"></script>                                                                                   
  <script src="/static/js/bootstrap-datetimepicker.js"></script>                                                                                   
  <script src="/static/js/echarts.min.js"></script>
  <script>

      function checkNull(){
          var price = $("#sale_price").val();
          var mytime = $("#datetimepicker").val();
          if (price == "" || mytime ==""){
              $("#myAlert_new").show(100);
              return false;
          };
      };
      var d = new Date();
      var month = d.getMonth()+1;
      var day = d.getDate();
      var output = d.getFullYear() + '-' +
      (month<10 ? '0' : '') + month + '-' +
      (day<10 ? '0' : '') + day;
      $("#datetimepicker").val(output + " 10:00");

      $('#datetimepicker').datetimepicker({
            format: 'yyyy-mm-dd hh:ii'
      });
      //账户等级与订单有效时间修改
      function checkNull2(){
          var user_lvl = $("#user_lvl").val();
          var valid_time = $("#valid_time").val();
          if (user_lvl == '' && valid_time == ''){
              $("#myAlert_new2").show(100);
              return false;
          }
      };
      setTimeout(function(){
          $('.ctopalert').remove();
      }, 3000);
  </script>
  {% block customjs %}
  {% endblock %}                                                                                                                        
</body>

</html>
