{% extends 'base_home.html' %}
{% block main %}       
<div class="main">
    <div class="main-content">
        <!-- MULTI CHARTS -->
        <div class="panel">
            <div class="panel-heading">
                <div>
                    <h5 style="padding-left:5px">大区:</h5>
                    {% for my_area in area_list%}
                    <div class="col-sm-1" >
                        <div class="card shadow">
                            <div class="card-body" style="cursor:pointer;" onclick = "window.location.href='/index?area={{my_area}}'">
                                <h5 class="text-center card_title">
                                    <a href="#"{% if area == my_area %} style="color:red" {% endif %}>{{my_area}}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <br>
            <br>
            <div class="panel-body">
                <div id="mychart" style="height: 400px; width:800px;" class="ct-chart"></div>
            </div>
        </div>
        <!--
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">最近一月流量统计</h3>
                <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div id="visits-chart" class="ct-chart"></div>
            </div>
        </div>
        -->
    </div>
</div>
{% endblock %}
{% block customjs %}
	<script>
	$(function() {
        var my_chart = echarts.init(document.getElementById('mychart'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '最近一周利率表'
            },
            legend: {
                data:['时段一', '时段二', '时段三', '时段四']
            },
            color: ['#259c36', '#14c7c4', '##c1c71f', 'red'],
            xAxis: {
                type: 'category',
                name: '日期',
                nameGap: 20,
                data: {{date_range|tojson}}
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value}'
                },
                min: 0,
                max: 200,
                name: '指导比例(金币/人民币)'
            },
            tooltip: {
                formatter: function (param) {
                        return '指导比例(金币/人民币)：'+param.data;
                    }
            },
            series: [
                {% for udata in line_data%}
                {
                    name: "{{udata['name']}}",
                    type: 'line',
                    data: {{udata['data']}},
                },
                {% endfor %}
            ],
        };
        // 使用刚指定的配置项和数据显示图表。
        my_chart.setOption(option);
	});
	</script>
{% endblock %}
