<!doctype html>                                                                                                                               
<html lang="en">                                                                                                                              
    <head>                                                                                                                                    
        <title>ForceClouds ICReport</title>                                                                                                   
        <!-- Required meta tags -->                                                                                                           
        <meta charset="utf-8">                                                                                                                
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">                                                
        <link rel="shortcut icon" id="favicon" href="/static/image/favicon.ico">                                                              
        <!-- Bootstrap CSS -->                                                                                                                
        <link rel="stylesheet" href="/static/css/myCss.css">                                                                              
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">                                                                          
        <link rel="stylesheet" href="/static/css/tagsinput.css">                                                                              
        <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">                                                                  
        <link href="/static/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">                                                         
        <style>                                                                                                                               
            body {                                                                                                                            
                background-color: #efefef;                                                                                                    
                font-family : "Microsoft YaHei", "微软雅黑", Arial, sans-serif, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB"
            }
        </style>                                                                                                                              
        {% block customcss %}                                                                                                                 
        {% endblock %}                                                                                                                        
        <script>   
        </script> 
    </head>                                                                                                                                   
    <body class="my_bg">                                                                                                                                    
        {% block main %}                                                                                                                      
        {% endblock %}                                                                                                                        
        <script src="/static/js/jquery-3.3.1.slim.min.js"></script>                                                                           
        <script src="/static/js/popper.min.js"></script>                                                                                      
        <script src="/static/js/bootstrap.min.js"></script>                                                                                   
        <script src="/static/js/tagsinput.js"></script>                                                                                       
        <script src="/static/js/jquery.dataTables.min.js"></script> 
        <script >
            
            $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
              if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
              }
              var $subMenu = $(this).next(".dropdown-menu");
              $subMenu.toggleClass('show');

              $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
                $('.dropdown-submenu .show').removeClass("show");
              });
              return false;
            });
        </script> 
        {% block customjs %}
        {% endblock %}                                                                                                                        
    </body>                                                                                                                                   
</html>
