{% extends 'base.html' %}                                                                                                                 
{% block main %}
<nav class="navbar navbar-expand-lg navbar-light bg-light my_bg">
  <a class="navbar-brand" href="#">疾舞魅影-交易平台</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          大区选择
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">跨一</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">河北1区</a></li>
              <li><a class="dropdown-item" href="#">河北2区</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">跨二</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">四川1区</a></li>
              <li><a class="dropdown-item" href="#">四川2区</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">跨三</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">内蒙古1区</a></li>
              <li><a class="dropdown-item" href="#">内蒙古2区</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">活动专区 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">联系我们<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
